@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: local("ClashDisplay"),
    url("./fonts/ClashDisplay/ClashDisplay-Regular.otf") format("opentype");
}
@font-face {
  font-family: "satoshi";
  src: local("satoshi"),
    url("./fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
}

